.rectangle {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 150px; /* Adjust the min-height based on your design */
    padding: 20px;
    background-color: #fff;
    border: 2px solid #8b8888;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: #0f0f0f;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .rectangle:hover {
    background-color: #f0f0f0;
  }